.ipynb_checkpoints
*/.ipynb_checkpoints/*
debug.log

# large compressed files
*.zip
*.pickle
*.gz
__pycache__
*.p
*cifar*

# saved model, variable files
checkpoint
*ckpt*

# floyd related
.floydexpt
.floydignore